@use "_variables";

.component-footer {
  * {
    font-family: variables.$fontPoppins;
    color: #9f1f5e;
  }
  font-size: 16px;
  background-color: #e0e0e0;
  padding: 1.4em 0;

  .container-up {
    justify-content: center;
    margin: auto;
    h5 {
      color: #692060;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    p {
      margin-bottom: 0.5em;
      font-size: 0.9em;
    }
    .container-logo {
      width: 12em;

      img {
        width: 65%;
      }
    }

    .container-enlaces {
      width: 15em;
    }

    .container-contact {
      width: 15em;
    }

    .container-redes-sociales {
      width: 10em;
      img {
        width: 1.4em;
        cursor: pointer;
        margin-right: 0.6em;
      }
      .redes-up {
        img {
        }
      }

      .redes-down {
        margin-top: 0.4em;
        img {
        }
      }
    }
  }

  .container-down {
    text-align: center;
    margin-top: 1.2em;
    p {
      font-size: 0.9em;
    }
  }
}

@media (max-width: 1200px) {
  .component-footer {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .component-footer {
    font-size: 11px;
  }
}

@media (max-width: 576px) {
  .component-footer {
    font-size: 11px;

    .container-up {
      justify-content: space-evenly;
      .container-logo {
        // width: 6.2em;
        width: 6em;
        padding: 0;

        img {
          width: 100%;
        }
      }

      .container-enlaces {
        width: 9em;
        padding: 0;
      }

      .container-contact {
        width: 9em;
        padding: 0;
      }

      .container-redes-sociales {
        width: 7em;
        padding: 0;
      }
    }
  }
}
