@use "_variables";

.component-somosTuMejorSolucion {
  * {
    font-family: variables.$fontPoppins;
    color: white;
  }
  font-size: 16px;
  margin: auto;
  margin-top: 8em;
  padding: 4em 0;

  background-image: url("../assets/img/Bg_blue_smar_contracts.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-img {
    width: 30em;
    img {
      width: 100%;
    }
  }

  .container-text {
    width: 50%;
    text-align: center;
    h1 {
      font-size: 2em;
      margin-bottom: 1em;
      padding: 0 2.2em;
    }
    p {
      font-size: 1em;
      line-height: 1.4em;
      padding: 0 4em;
    }
  }
}

@media (max-width: 1200px) {
  .component-somosTuMejorSolucion {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .component-somosTuMejorSolucion {
    font-size: 11px;
    padding: 4em 1em;

    .container-img {
      width: 25em;
      img {
        width: 100%;
      }
    }

    .container-text {
      width: 55%;
      text-align: center;
      h1 {
        padding: 0 1.2em;
      }
      p {
        padding: 0 2em;
      }
    }
  }
}

@media (max-width: 576px) {
  .component-somosTuMejorSolucion {
    font-size: 11px;
    flex-direction: column;

    .container-text {
      width: 95%;
      text-align: center;
      h1 {
        padding: 0 1em;
      }
      p {
        padding: 0 2em;
      }
    }
  }
}
